.bootstrap-datetimepicker-widget td.day:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget td.minute:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget td.hour:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget td.second:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget td span:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget a[data-action]:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget .timepicker td > span:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget td.day:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget td.minute:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget td.hour:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget td.second:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget td span:hover {
	color: rgb(75, 181, 193);
}
.pagination > li.active > a {
	background: rgb(75, 181, 193);
}
.pagination > li.active > a:hover {
	background: rgb(75, 181, 193);
}
.pagination > li.active > a:focus {
	background: rgb(75, 181, 193);
}
.pagination > li.active > span {
	background: rgb(75, 181, 193);
}
.pagination > li.active > span:hover {
	background: rgb(75, 181, 193);
}
.pagination > li.active > span:focus {
	background: rgb(75, 181, 193);
}
div.single-category.box .nav-tabs > li.active > a {
	color: rgb(230, 85, 123);
}
div.single-category.box .nav-tabs > li.active > a:hover {
	color: rgb(230, 85, 123);
}
div.single-category.box .nav-tabs > li > a:hover {
	color: rgb(230, 85, 123);
}
.copyright {
	background: rgb(75, 181, 193);
}
a:hover {
	color: rgb(75, 181, 193);
}
.toggle_cont > li > a:hover {
	background: rgb(75, 181, 193);
}
.toggle_cont > li > button:hover {
	background: rgb(75, 181, 193);
}
.box-language .active.toggle {
	color: rgb(75, 181, 193);
}
.box-language .toggle:hover {
	color: rgb(75, 181, 193);
}
.box-currency .active.toggle {
	color: rgb(75, 181, 193);
}
.box-currency .toggle:hover {
	color: rgb(75, 181, 193);
}
.box-language .toggle_cont > li > a:hover {
	background: rgb(75, 181, 193);
}
.box-language .toggle_cont > li > a.selected {
	background: rgb(75, 181, 193);
}
.box-language .toggle_cont > li > button:hover {
	background: rgb(75, 181, 193);
}
.box-language .toggle_cont > li > button.selected {
	background: rgb(75, 181, 193);
}
.box-currency .toggle_cont > li > a:hover {
	background: rgb(75, 181, 193);
}
.box-currency .toggle_cont > li > a.selected {
	background: rgb(75, 181, 193);
}
.box-currency .toggle_cont > li > button:hover {
	background: rgb(75, 181, 193);
}
.box-currency .toggle_cont > li > button.selected {
	background: rgb(75, 181, 193);
}
section.bottom {
	background: rgb(75, 181, 193);
}
.newsletter #tm-newsletter-button {
	background: rgb(75, 181, 193);
}
.newsletter #tm-newsletter-button:hover {
	color: rgb(75, 181, 193);
}
.banners > div .s-desc h3 + span {
	background-color: rgb(230, 85, 123);
}
.banners > div .s-desc h3 + span:hover {
	background-color: rgb(235, 110, 98);
}
.banners > div .s-desc h3 span {
	color: rgb(75, 181, 193);
}
.swiper-slide .cnt h2 + a {
	background: rgb(75, 181, 193);
}
.parallax .container a {
	background: rgb(75, 181, 193);
}
.swiper-slide .cnt h2 + a:hover {
	background-color: rgb(125, 197, 189);
}
.parallax .container a:hover {
	background-color: rgb(125, 197, 189);
}
.new-pr {
	background-color: rgb(125, 197, 189);
}
div.sale {
	background-color: rgb(230, 85, 123);
}
div.discount {
	background-color: rgb(230, 85, 123);
}
#habla_window_div #habla_topbar_div {
	background-color: rgb(125, 197, 189) !important;
}
.cart > button {
	background: rgb(75, 181, 193);
}
.cart .btn.cart-remove-btn {
	background: rgb(75, 181, 193);
}
.box-cart .btn-danger:hover {
	color: rgb(75, 181, 193);
}
.box-cart .btn-danger:hover:focus {
	color: rgb(75, 181, 193);
}
.search button {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.search button:focus {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.search button:active {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.search button:hover {
	color: rgb(75, 181, 193);
}
.search button:hover:focus {
	color: rgb(75, 181, 193);
}
.search button:hover:active {
	color: rgb(75, 181, 193);
}
.swiper-button-next:hover {
	color: rgb(75, 181, 193);
}
.swiper-button-prev:hover {
	color: rgb(75, 181, 193);
}
.sf-menu li.sfHover > a {
	color: rgb(75, 181, 193);
}
.sf-menu li > a:hover {
	color: rgb(75, 181, 193);
}
.sf-menu li > a.active {
	color: rgb(75, 181, 193);
}
.sf-menu .simple_menu li.active > a {
	color: rgb(75, 181, 193);
}
.sf-menu .simple_menu a:hover {
	color: rgb(75, 181, 193);
}
.sf-menu .simple_menu li.sfHover > a {
	color: rgb(75, 181, 193);
}
.sf-menu > li > .sf-with-ul::before {
	background: rgb(125, 197, 189);
}
.article-title {
	color: rgb(75, 181, 193);
}
.article-sub-title span::before {
	color: rgb(230, 85, 123);
}
.article-description ul li {
	color: rgb(75, 181, 193);
}
.article-description ol li {
	color: rgb(75, 181, 193);
}
.common-home .blog_articles .blog-cnt .article-date {
	color: rgb(230, 85, 123);
}
.common-home .blog_articles .blog-cnt .article-title a:hover {
	color: rgb(75, 181, 193);
}
.btn:visited {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.btn-default {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.btn-primary {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.btn-success {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.btn-info {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.btn-warning {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.btn-danger {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.btn {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.product-btn:hover {
	background: rgb(75, 181, 193);
}
.cart-button .quickview:hover {
	background: rgb(75, 181, 193);
}
.product-btn-add {
	background-color: rgb(75, 181, 193);
}
.product-btn-add {
	background-color: rgb(75, 181, 193);
}
.aside .product-btn-add {
	background-color: rgb(75, 181, 193);
}
.product-btn:hover {
	background: rgb(75, 181, 193);
}
.cart-button .quickview:hover {
	background: rgb(75, 181, 193);
}
.aside .product-btn:hover {
	background: rgb(75, 181, 193);
}
.aside .quickview:hover {
	background: rgb(75, 181, 193);
}
.product-buttons li button:hover {
	background: rgb(75, 181, 193); border-color: rgb(75, 181, 193);
}
.product-buttons li button:focus {
	background: rgb(75, 181, 193); border-color: rgb(75, 181, 193);
}
#button-cart {
	background: rgb(75, 181, 193); border: 1px solid rgb(75, 181, 193); border-image: none;
}
.single-category.box .nav-tabs > li.active > a {
	color: rgb(75, 181, 193);
}
.single-category.box .nav-tabs > li > a:hover {
	color: rgb(75, 181, 193);
}
.box .box-heading::before {
	background: rgb(75, 181, 193);
}
.box .mod1.box-heading a {
	color: rgb(230, 85, 123);
}
.box_html {
	background-color: rgb(75, 181, 193);
}
.box_html::before {
	background-color: rgb(75, 181, 193);
}
.box_html::after {
	background-color: rgb(75, 181, 193);
}
.sale {
	background-color: rgb(75, 181, 193);
}
.discount {
	background-color: rgb(75, 181, 193);
}
.product-thumb .price-new {
	color: rgb(75, 181, 193);
}
.product-thumb .price {
	color: rgb(75, 181, 193);
}
.fa-stack i.star {
	color: rgb(75, 181, 193);
}
.product-thumb .caption .rating i.star {
	color: rgb(75, 181, 193);
}
.product-list .product-thumb .aside button:hover {
	background: rgb(75, 181, 193);
}
.product-list .product-thumb .aside a:hover {
	background: rgb(75, 181, 193);
}
.product-list .product-thumb .aside .product-btn-add {
	background: rgb(75, 181, 193);
}
.product-thumb .price-new {
	color: rgb(75, 181, 193);
}
.product-thumb .price {
	color: rgb(75, 181, 193);
}
.rat {
	color: rgb(75, 181, 193);
}
.product-options .product-btn-add {
	border: 1px solid rgb(75, 181, 193); border-image: none;
}
.quickview-style .product-btn-add {
	border: 1px solid rgb(75, 181, 193); border-image: none;
}
.quickview-style .btn-icon.btn:hover {
	background: rgb(75, 181, 193) !important; border-color: rgb(75, 181, 193) !important;
}
.tooltip-inner {
	background: rgb(75, 181, 193);
}
[class][class].tooltip-arrow {
	border-top-color: rgb(75, 181, 193);
}
.owl-carousel .owl-buttons div:hover {
	color: rgb(75, 181, 193);
}
.product-gallery .image-thumb .bx-wrapper .bx-prev {
	background: rgba(75, 181, 193, 0.5);
}
.product-gallery .image-thumb .bx-wrapper .bx-next {
	background: rgba(75, 181, 193, 0.5);
}
h1 i {
	color: rgb(75, 181, 193);
}
p a {
	color: rgb(75, 181, 193);
}
p a:visited {
	color: rgb(75, 181, 193);
}
p a:focus {
	color: rgb(75, 181, 193);
}
.account.box ul a:hover {
	color: rgb(75, 181, 193);
}
.affilate.box ul a:hover {
	color: rgb(75, 181, 193);
}
.manufacturer-content div a:hover {
	color: rgb(75, 181, 193);
}
#content ul.list-unstyled a:hover {
	color: rgb(75, 181, 193);
}
.manufacturer-content div a::before {
	color: rgb(75, 181, 193);
}
#content ul.list-unstyled a::before {
	color: rgb(75, 181, 193);
}
.counter:hover {
	color: rgb(75, 181, 193);
}
.counter:hover:focus {
	color: rgb(75, 181, 193);
}
input[type='checkbox'] + label::after {
	color: rgb(75, 181, 193);
}
.sf-menu li.sfHover > a {
	color: rgb(75, 181, 193);
}
.sf-menu li > a:hover {
	color: rgb(75, 181, 193);
}
.sf-menu li > a.active {
	color: rgb(75, 181, 193);
}
.article-title {
	color: rgb(75, 181, 193);
}
.article-description ul li {
	color: rgb(75, 181, 193);
}
.article-description ol li {
	color: rgb(75, 181, 193);
}
.related-article h4 {
	color: rgb(75, 181, 193);
}
.article-comment .reply-message {
	color: rgb(75, 181, 193);
}
.article-comment .comment-date::before {
	color: rgb(75, 181, 193);
}
.reply-cancel {
	color: rgb(75, 181, 193);
}
aside .blog-categories ul > li > i:hover {
	color: rgb(75, 181, 193);
}
aside #blog-search a:hover {
	color: rgb(75, 181, 193);
}
.breadcrumb i {
	color: rgb(75, 181, 193);
}
.review-form-title h3:hover {
	color: rgb(75, 181, 193);
}
.product_tabs .nav-tabs > li.active > a {
	color: rgb(75, 181, 193);
}
.general_info a {
	color: rgb(75, 181, 193);
}
.active#list-view {
	color: rgb(75, 181, 193);
}
.active#grid-view {
	color: rgb(75, 181, 193);
}
.product-filter .compare-total {
	color: rgb(75, 181, 193);
}
.checkout-cart #content .table a {
	color: rgb(75, 181, 193);
}
.account-account h3 i {
	color: rgb(75, 181, 193);
}
.account-wishlist #content .table a {
	color: rgb(75, 181, 193);
}
.product-compare #content .table a {
	color: rgb(75, 181, 193);
}
.checkout-cart #content .table-custom tr:last-child .price {
	color: rgb(75, 181, 193);
}
.account-wishlist #content .table-custom tr:last-child .price {
	color: rgb(75, 181, 193);
}
.product-compare #content .table-custom tr:last-child .price {
	color: rgb(75, 181, 193);
}
.checkout-checkout #content .table-responsive .table tfoot tr:last-child td:last-child {
	color: rgb(75, 181, 193);
}
.cart-remove-btn {
	color: rgb(75, 181, 193);
}
.cart-remove-btn:visited {
	color: rgb(75, 181, 193);
}
.link {
	color: rgb(75, 181, 193);
}
.link:focus {
	color: rgb(75, 181, 193);
}
.link:visited {
	color: rgb(75, 181, 193);
}
.information-information #content h4 {
	color: rgb(75, 181, 193);
}
.information-information #content h5 {
	color: rgb(75, 181, 193);
}
.information-information #content h5 {
	color: rgb(75, 181, 193);
}
.count-box strong {
	color: rgb(75, 181, 193);
}
.testimonials blockquote::before {
	color: rgb(75, 181, 193);
}
.delivery_page h4 {
	color: rgb(75, 181, 193);
}
.delivery_page .table tbody td:first-child {
	color: rgb(75, 181, 193);
}
.site-map-page h5 {
	color: rgb(75, 181, 193);
}
.site-map-page #content ul li a:hover {
	color: rgb(75, 181, 193);
}
.contact_page .icon::before {
	color: rgb(75, 181, 193);
}
.well .heading i {
	color: rgb(75, 181, 193);
}
.terms_conditions_page h4::before {
	color: rgb(75, 181, 193);
}
.datepicker .prev:hover {
	color: rgb(75, 181, 193);
}
.datepicker .active.prev {
	color: rgb(75, 181, 193);
}
.datepicker .next:hover {
	color: rgb(75, 181, 193);
}
.datepicker .active.next {
	color: rgb(75, 181, 193);
}
.datepicker .day:hover {
	color: rgb(75, 181, 193);
}
.datepicker .active.day {
	color: rgb(75, 181, 193);
}
.datepicker .year:hover {
	color: rgb(75, 181, 193);
}
.datepicker .active.year {
	color: rgb(75, 181, 193);
}
.datepicker .month:hover {
	color: rgb(75, 181, 193);
}
.datepicker .active.month {
	color: rgb(75, 181, 193);
}
.datepicker .picker-switch:hover {
	color: rgb(75, 181, 193);
}
.datepicker .active.picker-switch {
	color: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget td.active.day {
	background: rgb(75, 181, 193);
}
.bootstrap-datetimepicker-widget td.active.day:hover {
	background: rgb(75, 181, 193);
}
.pagination > li.active > a {
	background: rgb(75, 181, 193);
}
.pagination > li.active > a:hover {
	background: rgb(75, 181, 193);
}
.pagination > li.active > a:focus {
	background: rgb(75, 181, 193);
}
.pagination > li.active > span {
	background: rgb(75, 181, 193);
}
.pagination > li.active > span:hover {
	background: rgb(75, 181, 193);
}
.pagination > li.active > span:focus {
	background: rgb(75, 181, 193);
}
.toggle_cont > li > a:hover {
	background: rgb(75, 181, 193);
}
.toggle_cont > li > button:hover {
	background: rgb(75, 181, 193);
}
#livesearch_search_results li:hover {
	background: rgb(75, 181, 193);
}
#livesearch_search_results li.highlighted {
	background: rgb(75, 181, 193);
}
input[type='radio']:checked + label::after {
	background: rgb(75, 181, 193);
}
.rd-mobilemenu_ul a:hover {
	background: rgb(75, 181, 193);
}
.common-home .blog_articles .blog-cnt .article-title::after {
	background: rgb(75, 181, 193);
}
.newsletter .dropdown-btn {
	background: rgb(75, 181, 193);
}
.product-gallery .image-thumb .bx-wrapper .bx-prev:hover {
	background: rgb(75, 181, 193);
}
.product-gallery .image-thumb .bx-wrapper .bx-next:hover {
	background: rgb(75, 181, 193);
}
.terms_conditions_page h4::before {
	background: rgb(75, 181, 193);
}
.privacy_page ol li h4::before {
	background: rgb(75, 181, 193);
}
.site-map-page #content ul.category-list::before {
	background: rgb(75, 181, 193);
}
.site-map-page #content ul.category-list > li::before {
	background: rgb(75, 181, 193);
}
.site-map-page #content ul.category-list > li::after {
	background: rgb(75, 181, 193);
}
#habla_panel_div {
	background: rgb(75, 181, 193);
}
.copyright {
	background: rgb(75, 181, 193);
}
.ui-to-top {
	background: rgb(75, 181, 193);
}
.ui-to-top:hover {
	background-color: rgb(125, 197, 189) !important;
}
.product_tabs {
	border-top-color: rgb(75, 181, 193); border-top-width: 2px; border-top-style: solid;
}
.delivery_page .table {
	border-top-color: rgb(75, 181, 193); border-top-width: 2px; border-top-style: solid;
}
.contact_page .panel {
	border-top-color: rgb(75, 181, 193); border-top-width: 2px; border-top-style: solid;
}
.contact_page .map {
	border-top-color: rgb(75, 181, 193); border-top-width: 2px; border-top-style: solid;
}
.contact_page .icon::before {
	border-top-color: rgb(75, 181, 193); border-top-width: 2px; border-top-style: solid;
}
.well {
	border-top-color: rgb(75, 181, 193); border-top-width: 2px; border-top-style: solid;
}
.icon-box i {
	border: 2px solid rgb(75, 181, 193); border-image: none; color: rgb(75, 181, 193);
}
.contact_page .icon::before {
	border: 2px solid rgb(75, 181, 193); border-image: none;
}
.account-account h3 {
	border-bottom-color: rgb(75, 181, 193); border-bottom-width: 1px; border-bottom-style: solid;
}
.ui-to-top {
	background: rgb(75, 181, 193);
}
.ui-to-top:hover {
	background: rgb(94, 189, 200);
}
.terms_conditions_page h4::before {
	background: none;
}
